keybinds clear-defaults=true {
    normal {
    bind "Ctrl h" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus_or_tab";
                payload "left";
            };
        }
        bind "Ctrl j" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus";
                payload "down";
            };
        }
        bind "Ctrl k" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus";
                payload "up";
            };
        }
        bind "Ctrl l" {
            MessagePlugin "vim-zellij-navigator" {
                name "move_focus_or_tab";
                payload "right";
            };
        }
        bind "Ctrl q" { Quit; }
        bind "Ctrl X" { CloseFocus; }
        bind "Ctrl W" { CloseTab; }
        bind "Ctrl D" { Detach; }
        bind "Ctrl p" { SwitchToMode "pane"; }
        bind "Ctrl F" { ToggleFloatingPanes; }
        bind "Ctrl f" {
          Run "zellij" "run" "-f" "-c" "--" "zellij-tab-search" {
            close_on_exit true
          }
        }
        bind "Ctrl Z" {
          Run "zellij" "run" "-f" "-c" "--" "zellij-zoxide-picker" {
            close_on_exit true
          }
        }
        bind "Ctrl R" { SwitchToMode "resize"; }
        bind "Ctrl t" { SwitchToMode "tab"; }
        bind "Ctrl S" { SwitchToMode "scroll"; }
        bind "Ctrl m" { SwitchToMode "move"; }
        bind "Ctrl H" { NewPane "Left"; }
        bind "Ctrl L" { Clear; }
        bind "Ctrl +" { Resize "Increase"; }
        bind "Ctrl -" { Resize "Decrease"; }
        bind "Ctrl T" { NewTab; }
        bind "Ctrl ]" { GoToNextTab; }
        bind "Ctrl [" { GoToPreviousTab; }
        bind "Alt T" {
          Run "zellij" "run" "-f" "-c" "--" "tgpt" "-i" {
            close_on_exit true
          };
        }
        bind "Alt B" {
          Run "zellij" "run" "-f" "-c" "--" "btop" {
            close_on_exit true
          };
        } 
        bind "Alt K" {
          Run "zellij" "run" "-f" "-c" "--" "k9s" {
            close_on_exit true
          }
        }
        bind "Alt G" {
          Run "zellij" "run" "-f" "-c" "--" "lazygit" {
            close_on_exit true
          }
        }
        bind "Alt D" {
          Run "zellij" "run" "-f" "-c" "--" "lazydocker" {
            close_on_exit true
          }
        }
    }

    pane {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "h" "Left" { NewPane "Left"; SwitchToMode "normal"; }
        bind "l" "Right" { NewPane "Right"; SwitchToMode "normal"; }
        bind "j" "Down" { NewPane "Down"; SwitchToMode "normal"; }
        bind "k" "Up" { NewPane "Up"; SwitchToMode "normal"; }
        bind "Alt h" "Left" { MoveFocus "Left"; }
        bind "Alt l" "Right" { MoveFocus "Right"; }
        bind "Alt j" "Down" { MoveFocus "Down"; }
        bind "Alt k" "Up" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "n" { NewPane; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
        bind "d" { CloseFocus; SwitchToMode "normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "normal"; }
        bind "z" { TogglePaneFrames; }
    }

    tab {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "h" "Left" { GoToPreviousTab; }
        bind "l" "Right" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "normal" ;}
        bind "x" { CloseTab; SwitchToMode "normal"; }
        bind "d" { CloseTab; SwitchToMode "normal"; }
        bind "s" { ToggleActiveSyncTab; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
        bind "Tab" { ToggleTab; }
    }

    resize {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "h" "Left" { Resize "Left"; }
        bind "j" "Down" { Resize "Down"; }
        bind "k" "Up" { Resize "Up"; }
        bind "l" "Right" { Resize "Right"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }

    move {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }

    scroll {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "Enter" "Esc" { SwitchToMode "normal"; }
        bind "Alt c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Alt f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Alt b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    }

    search {
        bind "Alt s" "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "n" { Search "Down"; }
        bind "p" { Search "Up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    }

    entersearch {
        bind "Enter" { SwitchToMode "search"; }
        bind "Ctrl c" "Esc" { SearchInput 27; SwitchToMode "scroll"; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    }

    locked  {}
    renamepane  {}
    renametab  {}
    session  {}
    tmux  {}
}

session_serialization true
// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
on_force_close "quit"
// Request simplified ui (without arrow fonts) of plugins
simplified_ui true
// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//default_shell "fish"
// remove pane frame
pane_frames false
// Choose the theme that is specified in the themes section.
// Default: default
theme "kanagawa"
// On certain configurations, or terminals mouse_mode can interfere with copying text.
mouse_mode true
// 100_000 should never exceed 6MB per shell pane, unless the lines are very long
scroll_buffer_size 100000
// Command to execute when copying text. Text will be piped to stdin of program
// to perform copy. Can be used with terminal emulators which do not support
// OSC 52 ANSI control sequence (used on default without this option).
//copy_command "xclip -selection clipboard" // x11
//copy_command "wl-copy"                    // wayland
//copy_command "pbcopy"                     // osx
// Choose the destination for copied text (x11/wayland only), if copy_command not set
// Options:
//   - system (default)
//   - primary
//copy_clipboard "primary"
// Is automatic copy (and clear) of selection when releasing mouse enabled?
// Default true
//copy_on_select false

plugins {
  "status-bar"
  "tab-bar"
  "session-manager"
  "strider"
  "compact-bar"
  "filepicker"
  vim-zellij-navigator location="https://github.com/hiasr/vim-zellij-navigator/releases/download/0.2.1/vim-zellij-navigator.wasm"
}

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//scrollback_editor "/usr/bin/vim"
// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//mirror_session true
// The folder in which Zellij will look for layouts
//layout_dir /path/to/my/layout_dir
// The folder in which Zellij will look for themes
//theme_dir "/path/to/my/theme_dir"
