layout {
  pane split_direction="horizontal" {
    pane command="hx" size="75%" close_on_exit=true focus=true {
      args "."
      cwd "$HOME/nixos-config"
    }
    pane size="25%" {
      cwd "$HOME/nixos-config"
    }
  }
}
