layout {
  tab name="nixos-config" focus=true {
    pane split_direction="horizontal" {
      pane command="nvim" size="75%" close_on_exit=true focus=true {
        args "-c SessionRestore"
        cwd "$HOME/nixos-config"
      }
      pane size="25%" {
        cwd "$HOME/nixos-config"
      }
    }
  }

  tab name="k8s-homelab" {
    pane split_direction="horizontal" {
      pane command="nvim" size="75%" close_on_exit=true {
        args "-c SessionRestore"
        cwd "$HOME/projects/k8s/kubernetes-homelab"
      }
      pane size="25%" {
        cwd "$HOME/projects/k8s/kubernetes-homelab"
      }
    }
  }
}
