/*
Polar Night
nord0  #2e3440
nord1  #3b4252
nord2  #434c5e
nord3  #4c566a
Snow Storm
nord4  #d8dee9
nord5  #e5e9f0
nord6  #eceff4
Frost
nord7  #8fbcbb
nord8  #88c0d0
nord9  #81a1c1
nord10 #5e81ac
Aurora
nord11 #bf616a
nord12 #d08770
nord13 #ebcb8b
nord14 #a3be8c
nord15 #b48ead
*/

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:3px;
   }

window#waybar {
    background:rgba (0, 0, 0, 0.55);
}

#workspaces button {
    padding: 4px;
    margin-top: 10px;
    background-color: #3b4252;
    border-radius: 5px;
    color: #ffffff;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: #81a1c1;
  color: #000000;
}

#mode {
    color: #ebcb8b;
}

#custom-playerctl, #custom-gpu, #clock, #battery, #cpu, #disk, #memory, #idle_inhibitor, #temperature, #custom-power, #backlight, #network, #wireplumber, #mode, #tray, #window, #submap {
    padding: 0 3px;
    border-bottom: 2px;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 color:#a3be8c;
}

#backlight {
    color: #ebcb8b;
}

#battery {
    color: #d8dee9;
}

#battery.charging {
    color: #81a1c1;
}

#disk {
    color: #5e81ac;
}

@keyframes blink {
    to {
        color: #4c566a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: #bf616a;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:#ebcb8b;
}

#memory {
    color: #d3869b;
}

#network.disabled {
    color:#bf616a;
}

#network {
    color:#a3be8c;
}

#network.disconnected {
    color: #bf616a;
}

#wireplumber {
    color: #b48ead;
}

#wireplumber.muted {
    color: #3b4252;
}

#temperature {
    color: #8fbcbb;
}

#temperature.critical {
    color: #bf616a;
}

#idle_inhibitor {
   color: #ebcb8b;
}

#custom-playerctl {
    color: #d08770;
}

#custom-gpu {
    color: #88c0d0;
}

#window {
    color: #ebcb8b;
}    

#custom-power {
    color: #e63946;
}

#submap {
    color: #8fbcbb;
}

#mode {
    margin-bottom:3px;
}
